* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #162B6F;
}
.container {
    display: block;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #162B6F;
}
.header {
    display: flex;
    position: relative;
    max-width: 1170px;
    width: 100%;
    height: 69px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 24px;
}
.header__logo {
    display: block;
    position: relative;
    width: 44px;
    height: 19px;
    background: url(./images/Gertc.png);
    background-size: cover;
}
.header__menu {
    display: flex;
    position: relative;
    width: 604px;
    height: fit-content;
    justify-content: space-between;
}
.main__block {
    width: 100%;
    height: 760px;
    background: url(./images/main1.png);
    background-size: cover;
}
.main__background {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(44, 56, 166, 0.3);
}
.block0 {
    display: flex;
    position: absolute;
    width: 152px;
    height: 215px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.block1 {
    display: block;
    position: relative;
    width: 100%;
    height: 113px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 76px;
}
.block2 {
    display: flex;
    position: relative;
    width: 100%;
    height: 45px;
    color: white;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.rows {
    flex-direction: column;
    width: fit-content;
    height: 238px;
    margin: 0 auto;
    justify-content: center;
}   
.row1 {
    width: 199px;
    line-height: 89px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #5A74B7;
    margin: 0 auto;
}
.row2 {
    font-size: 15px;
}
.goods {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 52px;
}
.goods__title {
    display: flex;
    position: relative;
    width: 100%;
    height: 107px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.goods__title h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    color: #5A74B7;
}
.goods__title h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #162B6F;
}
.good__cards {
    display: flex;
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 75px;
    justify-content: space-between;
}
.good__card {
    display: flex;
    position: relative;
    width: 370px;
    height: 100%;
    flex-direction: column;
}
.card__img1,.card__img2,.card__img3 {
    width: 100%;
    height: 300px;
}
.card__img1 {
    background: url(./images/goods1.png);
}
.card__img2 {
    background: url(./images/goods2.png);
}
.card__img3 {
    background: url(./images/goods3.png);
}
.card__description {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    background: #5A74B7;
    padding-top: 58px;
}
.text__description {
    display: flex;
    position: relative;
    height: 70px;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.text__description {
    height: 70px;
}
.text__description h4 {
    width: 100%;
    text-align: center;
}
.text__description h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}
.text__description h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.good__card:nth-child(2) .card__description .text__description {
    height: 92px;
}
.good__card:nth-child(2) .card__description .text__description h4 {
    width: 204px;
    text-align: center;
}
.brends {
    display: block;
    position: relative;
    padding-top: 75px;
    max-width: 980px;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    background-size: cover;
}
.brends__title {
    display: flex;
    position: relative;
    width: 100%;
    height: 107px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.brends__title h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    color: #5A74B7;
}
.brends__title h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #162B6F;
}
.brends__blocks {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 743px;
    margin-top: 70px;
}
.blocks__top,.blocks__bottom {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.block {
    display: flex;
    position: relative;
    width: 46.4%;
    height: 237px;
    flex-direction: row;
    justify-content: space-between;
}
.block__1 {
    width: 470px;
}
.img {
    display: block;
    position: relative;
    width: 140px;
    height: 140px;
    margin-top: 15px;
}
.block__img1 {
    background: url(./images/brends1.png);
}
.block__description h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #5A74B7;
}
.block__description h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #162B6F;
}
.block__description {
    display: flex;
    position: relative;
    width: 300px;
    height: 237px;
    flex-direction: column;
    justify-content: space-between;
}
.block__2 {
    width: 470px;
}
.block__img2 {
    background: url(./images/brends2.png);
}
.block__3 {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 470px;
    height: 321px;
    justify-content: space-between;
}
.block__img3 {
    background: url(./images/brends3.png);
}
.block__4 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
    height: 237px;
}
.block__img4 {
    background: url(./images/brends4.png);
}
.worktime__block {
    width: 100%;
    height: 455px;
    background: url(./images/girlphone.png);
    background-size: cover;
}
.worktime__background {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: #2C38A64D;
}
.worktime__0 {
    display: flex;
    position: relative;
    width: 186px;
    height: 224px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 119px;
}
.worktime__1 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
}
.worktime__2 {
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    text-align: center;
    color: white;
    font-weight: 400;
}
.worktime__3 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    line-height: 28px;
}
.worktime__3 {
    display: flex;
    position: relative;
    width: 142px;
    height: 84px;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: space-between;
}
.contacts {
    display: flex;
    position: relative;
    width: 100%;
    height: 450px;
    background: #5A74B7;
    margin-top: 50px;
    padding-top: 35px;
    padding-left: 152px;
}
.contacts__block {
    display: flex;
    position: relative;
    width: 1020px;
    height: 307px;
    justify-content: space-between;
}
.contacts__adress {
    display: flex;
    position: relative;
    width: 330px;
    height: 218px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contacts__adress h1 {
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
}
.contacts__adress h4 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.contacts__form {
    display: flex;
    position: relative;
    width: 540px;
    height: 307px;
    flex-direction: column;
}
.contacts__top {
    display: flex;
    position: relative;
    width: 100%;
    height: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacts__top input {
    width: 48%;
    outline: none;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}
.contacts__top input::placeholder {
    color: white;
}
.contacts__center {
    display: flex;
    position: relative;
    width: 100%;
    height: 125px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.contacts__center input {
    width: 100%;
    outline: none;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
}
.contacts__center textarea {
    outline: none;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}
.contacts__center input::placeholder {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.contacts__center textarea::placeholder {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.button {
    display: flex;
    position: relative;
    width: 100%;
    height: 45px;
    background: white;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px
}
iframe {
    width: 100%;
    height: 470px;
    margin-bottom: 33px;
}
.icons__block {
    display: flex;
    position: relative;
    width: 108px;
    height: 20px;
    flex-direction: row;
    justify-content: space-between;
    margin: 45px auto;
}
.burger__menu {
    display: none;
}
@media (max-width: 768px) {
    .container {
        max-width: 728px;
    }
    .main__block {
        height: 450px;
    }
    .good__cards {
        height: 330px;
    }
    .good__card {
        width: 32%;
    }
    .card__img1,.card__img2,.card__img3 {
        background-size: cover;
        height: 200px;
    }
    .card__description {
        height: 130px;
        padding-top: 10px;
    }
    .text__description {
        height: 74px;
    }
    .text__description h3 {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .text__description h4 {
        font-size: 15px;
        line-height: 17px;
    }
    .good__card:nth-child(2) .card__description .text__description h4 {
        width: 183px;
    }
    .blocks__top,.blocks__bottom {
        flex-direction: column;
    }
    .block__description {
        height: 145px;
        width: 560px;
    }
    .block__1,.block__2,.block__3,.block__4 {
        width: 100%;
    }
    .block {
        height: 150px;
    }
    .brends__blocks {
        height: 720px;
    }
    .block__3 {
        height: 180px;
    }
    .worktime__block {
        height: 420px;
    }
    .contacts {
        height: 600px;
        padding-top: 0;
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }
    .contacts__block {
        flex-direction: column;
        justify-content: space-between;
        height: 500px;
        width: fit-content;
        align-items: center;
    }
    .contacts__adress {
        height: 175px;
    }
    iframe {
        height: 400px;
        margin-bottom: 0;
    }
    .burger__menu {
        display: none;
    }
}
@media (max-width: 320px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }
    .header__menu {
        display: none;

    }
    .burger__menu {
        display: block;
        position: relative;
        width: 35px;
        height: 35px;
    }
    .burger {
        display: flex;
        position: relative;
        width: 35px;
        height: 35px;
        flex-direction: column;
        justify-content: space-evenly;
        border: 2px solid #162B6F;
        border-radius: 4px;
        align-items: center;
    }
    .line {
        display: block;
        position: relative;
        height: 2px;
        width: 25px;
        background: #162B6F;
    }
    .menu {
        opacity: 0;
        display: flex;
        position: absolute;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        border: 2px solid #162B6F;
        border-radius: 4px;
        right: 0;
        z-index: 5;
        top: 40px;
        overflow: hidden;
        transition: all 0.5s ease;
        pointer-events: none;
    }
    .menu.show {
        opacity: 1;
        transition: opacity 0.5s ease;
        pointer-events: auto;
    }
    .menu a {
        display: flex;
        position: relative;
        width: 90px;
        height: 30px;
        align-items: center;
        background: rgba(92, 118, 183, 0.7);
        color: white;
    }
    .menu a:hover {
        background: rgba(92, 118, 183, 1);
    }
    .main__block {
        height: 200px;
    }
    .block0 {
        height: 110px;
    }
    .block1 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        height: 70px;
    }
    .block2 {
        height: 30px;
        font-size: 16px;

    }
    .goods {
        margin-top: 20px;
    }
    .goods__title {
        height: 80px;
    }
    .goods__title h2 {
        font-size: 30px;
    }
    .goods__title h4 {
        font-size: 16px;
        text-align: center;
    }
    .good__cards {
        margin-top: 35px;
        flex-direction: column;
        height: 875px;
    }
    .good__card {
        width: 100%;
        height: 285px;
    }
    .card__description {
        height: 85px;
    }
    .text__description {
        height: 55px;
    }
    .good__card:nth-child(2) .card__description .text__description {
        height: 55px;
    }

    .brends__title {
        text-align: center;
    }
    .brends__title h2 {
        font-size: 30px;
    }
    .brends__blocks {
        height: 1445px;
        text-align: center;
        margin-top: 10px;
    }

    .blocks__top {
        flex-direction: column;
        height: 660px;
    }
    .block__1 {
        flex-direction: column;
        height: fit-content;
    }
    .block__img1,.block__img2,.block__img3,.block__img4 {
        margin: 0 auto;
    }
    .block__description {
        width: 100%;
        height: 237px;
    }
    .block__2 {
        flex-direction: column;
        height: fit-content;
    }
    .blocks__bottom {
        height: 700px;
        flex-direction: column;
    }
    .block__3 {
        flex-direction: column;
        height: fit-content;
    }
    .block__4 {
        flex-direction: column;
        height: fit-content;
        margin-top: 35px;
    }
    .worktime__block {
        margin-top: 125px;
        height: 200px;
    }
    .worktime__0 {
        height: 169px;
        margin-top: 2px;
    }
    .contacts {
        height: 750px;
    }
    .contacts__block {
        height: fit-content;
    }
    .contacts__adress {
        width: 290px;
        text-align: center;
    }
    .contacts__top {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 200px;
    }
    .contacts__top input {
        width: 100%;
        height: 200px;
    }
    .contacts__form {
        width: 318px;
        height: fit-content;
    }
    .contacts__center {
        height: 118px;
    }
    .button {
        height: 100px;
    }
    iframe {
        height: 320px;
    }
    .icons__block {
        margin: 20px auto;
    }
    
}